@model NSDBz.Models.Species

@{
	ViewBag.Title = "Details";
}

<link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">


@*<h2 class="pageHeading">Details</h2>*@

<div>
	@*<h4 class="pageHeading">@Html.DisplayFor(model => model.Name)</h4>
	<hr />*@

<div class="container" style="margin-top:50px;">
	<div class="row">
		<div class="col-md-4" style="padding-left:175px;">
			<img src="@Html.DisplayFor(model => model.ImgUrl)" width="355px" height="220px" />
		</div>
		
		<div class="col-md-8" style="padding-left:250px;">
				<br />
				<strong>Name:</strong>
				@Html.DisplayFor(model => model.Name) <br /><br />
				<strong>Class:</strong>
				@Html.DisplayFor(model => model.Class) <br /><br />
				<strong>Legs:</strong>
				@Html.DisplayFor(model => model.Legs) <br /><br />
				<strong>Toxicity:</strong>
				@Html.DisplayFor(model => model.Toxicity) <br /><br />
			

			
		</div>
		</div>

		 </div>
	</div>

	<div class="row">
	<div class="col-md-12" style="text-align:center; width:50vw; margin:auto;">
	<br /><br /><br />
	<h4>Bio:</h4>
	@Html.DisplayFor(model => model.Bio)
	</div>
	</div>
	
	<div class="row">
	<div class="col-md-12" style="text-align:center; width:30vw; margin:auto;">
		<br /><br /><br />
		<h4>Native Countries:</h4>
		<br />
			@{	
				try {
					var alphab = Model.Countries.OrderBy(c => c.Name);

					var last = alphab.Last();

					foreach (var ctry in alphab)
					{
					@: <strong>@Html.ActionLink(ctry.Name, "Details", "Country", new { id = ctry.ID }, null)</strong> 

						if (!ctry.Equals(last)) {

								@:|

						}
								<!-- LINK TO MODEL DETAILS PAGE-->
					}
				}


				catch (InvalidOperationException) {

		<strong>There are currently no assigned Countries for @Model.Name</strong>

					}

				}

	</div>
	</div>

	<br /><br /><br /><br />

	<div class="row">
	<div class="col-md-12" style="text-align:center; width:30vw; margin:auto;">
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Species", "Index")
</p>
	</div>
	</div>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />